@{
    ViewBag.Title = "MyTasks";
}

<h2>My Tasks</h2>

<script type="text/javascript">

    $(document).ready(function () {
        var greeter = new viajett();
        greeter.doSomething();
    });
    
</script>
